.first{
  color:white;
  text-align: center;
  font-size:25px;
  padding: 30px;
  background-color: black;
  text-shadow: 4px 3px blue;
}

body{
  background:#006666;
}

.top{
  top:1px;
  display: flex;
  flex-direction: row;
  padding:24px;

  text-align: center;
  background:#99b3e6;
  border-radius: 30px;
}

h3{
 color:#0040ff;
 font-size: 20px;
}

}
#both p{
  width: 65px;
}

.box1,.box2,.box3{
   width:30.3%;
   background-color: #99b3e6;
    width: 350px;
    border: 3px solid ;
    padding: 25px;
    margin: 25px;
    text-align: center;
    border-radius: 40px;
}
.box4,.box5,.box6,.box7,.box8{
    width:50.0%;
    background-color:#8c8cd9;
    width: 500px;
    padding: 25px;
    margin-left: 55px;
    text-align: center;
    margin-bottom:20px;
}

.three,.four,.five  {
  display:flex;
  flex-direction:row;
}
.three{
    font-family: 'Stardos Stencil', cursive;

}
.cote{
  margin-left: 30px;
  margin-right: 230px;

}

.cotes{
  margin-left: 230px;
  margin-right:30px;

}

.six{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
